* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mat-card {
  display: flex;
  flex-direction: column;
  margin-left: 340px;
  margin-right: 340px;
}
.mat-card-title {
  text-align: center;
}
.mat-card-subtitle {
  text-align: center;
}

#BattleshipBoard   {
  position: relative;
  width: 100%;
  min-width: 550px;
  margin-left: 20px;
}

#Messages-For-Players {
  width: 100%;
  text-align: center;
  margin-top: 90px;
  color: darkred;
  font-size: 45px;


}



table {
  border-collapse: separate;
  border-spacing: 3px;
  margin: 0 auto;
}

td {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid violet;
  border-radius: 17px;
}

td:visited {
  background-color: darkolivegreen;
}


td:hover {
  background-color: beige ;

}
td:focus {
  background-color: violet;
}
td:active:after {
  color: lightblue;
}

td div {
  width: 70px;
  height: 70px;
}



.td:visited {
  background: darkturquoise;
}

.hit {

  background-color: #5FCF80 ;
  animation-duration: 3ms;


}

.neutral {

  background-color : darkgray ;
}

.miss {
  background-color: red;
}

.mat-container {


  column-gap: 200px;
  width: 300px;

}

.flexc {
  column-count: 7;
  display: inline-block;
  width: 120px;
  text-align: center;
  border: 1px solid white;
}

td {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid violet;
  border-radius: 17px;
}

td:visited {
  background-color: darkolivegreen;
}


td:hover {
  background-color: beige ;

}
td:focus {
  background-color: violet;
}
td:active:after {
  color: lightblue;
}

td div {
  width: 70px;
  height: 70px;
}



.td:visited {
  background: darkturquoise;
}

