@import url("https://fonts.googleapis.com/css?family=Fascinate+Inline|Baloo+Bhaina");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mat-card {
  display: flex;
  flex-direction: column;
  margin-left: 340px;
  margin-right: 340px;
  margin-bottom: 100px;
 
 
  
}
.mat-card-title {
  text-align: center;
}
.mat-card-subtitle {
  text-align: center;
}




table {
  border-collapse: separate;
  border-spacing: 3px;
  margin: 0 auto;
}

td {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid violet;
  border-radius: 17px;
}

td:visited {
  background-color: darkolivegreen;
}


td:hover {
  background-color: beige ;

}
td:focus {
  background-color: violet;
}
td:active:after {
  color: lightblue;
}

td div {
  width: 70px;
  height: 70px;
}



.td:visited {
  background: darkturquoise;
}

.hit {

  background-color: #5FCF80 ;
 


}


.hit::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 10px;
  height: 10px;
  background: #D2995F; 
  border-radius: 50%;
  box-shadow: 95px 0 #FCCE9E,
              30px 0 #D2995F;
              animation: blow 0.5s ease-in;
}

.hit::before {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 10px;
  width: 16px;
  height: 30px;
  background: #5A0400;
  box-shadow: 15px 4px 0 -4px #AC3B35;  
  transform: rotate(90deg);
}

.neutral {

  background-color : darkgray ;
}

.miss {
  background-color: red;
  transform-origin: center center;
  transform: rotate(45deg);
  box-shadow: 3px 3px #C77DAA;
  animation: blow 0.5s ease-in;
}

@keyframes wave {
  0% {transform: rotate(-7deg)}
  100% {transform: rotate(5deg)}
}


@keyframes blow {
  0% {transform: scale(0);}
  1% {transform: rotate(45deg);}
  80% {transform: scale(1.7);}
  100% {transform: scale(1);}
}

.miss::after {
  content: '';
  width: 60px;
  height: 10px;
  position: absolute;
  border-radius: 5px;
  background: #47002B;
  transform: rotate(90deg);
  box-shadow: 3px -3px #C77DAA;
}

.mat-container {


  column-gap: 200px;
  width: 300px;

}

.flexc {
  column-count: 7;
  display: inline-block;
  width: 120px;
  text-align: center;
  border: 1px solid white;
}

td {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid violet;
  border-radius: 17px;
  padding: 43px;
}

td:visited {
  background-color: darkolivegreen;
}


td:hover {
  background-color: beige ;

}
td:focus {
  background-color: violet;
}
td:active:after {
  color: lightblue;
}

td div {
  width: 70px;
  height: 70px;
}



.td:visited {
  background: darkturquoise;
}



.type-cell {
  padding: 93px;
  text-align: center;
}